.category-selector-container {
    text-align: right; /* align the content to the right */
    margin: 20px;
}

.category-selector {
    font-size: 16px;
    padding: 10px 20px; /* make the dropdown larger */
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Dropdown options */
.category-selector option {
    font-size: 14px;
    padding: 8px 12px;
}

.category-title {
    text-align: center;
    margin-top: 20px;
}

.category-title h3 {
    font-family: 'Your Cool Font', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    color: #333;
}