.movie {
    margin: 1%;
}

.movie img {
    width: 100px;
}

.movie .card-title {
    font-size: 24px !important;
}

.movie .length {
    font-size: 1em !important;
}

/* For small screen */
@media (max-width: 764px) {
    .movie img {
        width: 100%;
    }

    .movie {
        margin: 5%;
    }
  }